__pycache__/
*.py[cod]
*.so

.DS_Store
.idea/
.vscode/

exps/
logs/
wandb/
cr_results/
visual_mid/
temp_dataset/
dataset*/
vfm_weights/
assets/
old/
rebuttal/
dst/

*.pt
*.pth
*.ckpt
*.bin
*.safetensors
*.npy
*.npz
*.tar
*.tar.gz
*.zip

*.png
*.jpg
*.jpeg
*.tif
*.tiff
config/local_test_*.yml

!assets/
!assets/framework.png
